:root {
  --bg-colour--light: #fff0ea;
  --text-colour-light: #3a2016;
  --asterism-colour-light: #dfc4bb;
  --bg-colour-dark: #2b211d;
  --text-colour-dark: #f9e5dd;
  --asterism-colour-dark: #46362f;
  --bg-colour: var(--bg-colour--light);
  --text-colour: var(--text-colour-light);
  --asterism-colour: var(--asterism-colour-light);
  --link-colour: #ce7351;
  --nav-link-colour: #a18579;

  font-family: 'Jost', sans-serif;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

:root:has(header input:checked) {
  --bg-colour: var(--bg-colour-dark);
  --text-colour: var(--text-colour-dark);
  --asterism-colour: var(--asterism-colour-dark);
}

body {
  margin: 8% auto;
  max-width: 768px;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

header {
  text-align: center;
  font-weight: 400;
}

label {
  cursor: pointer;
}

header label {
  position: absolute;
  top: 20px;
  right: 20px;
}

header label svg {
  opacity: 0.3;
}

header label input {
  display: none;
}

header span {
  font-size: 13px;
  position: absolute;
  top: 30px;
  right: 0;
  width: max-content;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

@media (hover: hover) {
  header label:hover span {
    opacity: 1;
    transition: opacity 150ms ease-out 800ms;
  }
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 21px;
  font-weight: 350;
  letter-spacing: 3px;
  margin: 0;
}

nav {
  display: flex;
  place-content: center;
  gap: 0.4em;
  margin: 6vh 0 4vh;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  color: var(--nav-link-colour);
  text-decoration: none;
}

:root:not(:has(:target)) a[href='#work'],
:root:has(#work:target) a[href='#work'],
:root:has(#about:target) a[href='#about'] {
  text-decoration: underline;
  color: var(--text-colour);
}

:root:has(#about:target) #about {
  display: block;
}

:root:has(#about:target) #work {
  display: none;
}

#about {
  display: none;
}

#work,
#about {
  scroll-margin-top: 12vh;
}

a {
  color: var(--link-colour);
}

.asterism {
  color: var(--asterism-colour);
  font-size: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    margin: 20% 12%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }
}
